body {

	/*background-color: #4cbb17;*/
	font-family: arial;
	margin-top: 250px;
	text-align: center;
}

#clock {
	font-weight: 300;
	font-size: 100px;
	color: white;
	/*transform: scale(1.5, 1.5);*/
}

#color {

	
}